//babelrc是babel的配置文件,JavaScript语法的编译器。
//https://excaliburhan.com/post/babel-preset-and-plugins.html

{
  //预设:使用时需要安装对应的插件，对应babel-preset-xxx。
  "presets": [
    //env项是借助插件babel-preset-env,下面这个配置说的是babel对es6,es7,es8进行转码，并且设置amd,commonjs这样的模块化文件，不进行转码
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    //不同阶段出现的es语法，包括不同的转码插件
    "stage-2"
  ],
  //引用插件来处理代码的转换，transform-runtime用来处理全局函数和优化babel编译
  "plugins": ["transform-runtime"],
  "env": {
    //test 是提前设置的环境变量，如果没有设置BABEL_ENV则使用NODE_ENV，如果都没有设置默认就是development
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"] //instanbul是一个用来测试转码后代码的工具
    }
  }
}
